@using MoviesVerse.Client.Helpers;
@using TMDbLib.Objects.Movies;
@inject IMovieRepository repository

<div class="ms_weekly_wrapper">
    <div class="ms_weekly_inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="ms_heading">
                    <h1>weekly top @week?.Count</h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 padding_right40">

                @if (week is object)
                {
                    int i = 1;
                    foreach (var item in week)
                    {
                                <div class="ms_weekly_box ms_weekly_box ms_active_play">
                                <div class="weekly_left">
                                    <span class="w_top_no">
										@i.ToString()
									</span>
                                    <div class="w_top_song">
                                        <div class="w_tp_song_img">
                                            <img src="@($"{imageUrl}{item.PosterPath}")" alt="" class="img-fluid">
                                            <div class="ms_song_overlay">
                                            </div>
                                            <div class="ms_play_icon">
                                                <img src="images/svg/play.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="w_tp_song_name">
                                            <h3><a href="#">@item.Title</a></h3>
                                            @if(item.ReleaseDate is object){
                                                <p>@item.ReleaseDate.Value.Date.ToString("MMM, dd, yyyy")</p>
                                            }                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="weekly_right">
                                    <span class="w_song_time">@item.Runtime</span>
                                    <span class="ms_more_icon" data-other="1">
										<img src="images/svg/more.svg" alt="">									
									</span>
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                                </ul>
                            </div>
                            i++;
                    }
                }


            </div>
        </div>
    </div>
</div>




@code {
    List<Movie>? week { get; set; }
    private const string imageUrl = "https://image.tmdb.org/t/p/w92/";

    protected async override Task OnInitializedAsync()
    {
        week = (await repository.GetTrendingMoviesWeek()).ToList();
    }
}